In [1]:
# Allows imports from other packages in the project
import sys
import os
notebook_dir = os.getcwd()
project_root = os.path.abspath(os.path.join(notebook_dir, ".."))
sys.path.append(project_root)

In [2]:
import numpy as np
import pandas as pd

In [3]:
snp_info_path = "../data/snp_info.csv"
info = (
    pd.read_csv(snp_info_path, index_col=0)
    .set_index("Symbol")
)
info

,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added[3][4],CIK,Founded
Symbol,,,,,,,,
MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
XYL,Xylem Inc.,reports,Industrials,Industrial Machinery,"White Plains, New York",2011-11-01,1524472,NaN
YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,NaN
ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,NaN
ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,NaN
ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,NaN

In [4]:
stocks_by_sector_df = pd.read_csv("../data/stocks_by_sector.csv")
stocks_by_sector_df

,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology
0,T,AMZN,WMT,MRO,BAC,PFE,CSX,AAPL
1,GOOGL,F,KO,KMI,WFC,MRK,GE,AMD
2,GOOG,GM,KR,XOM,C,GILD,DAL,NVDA
3,CMCSA,EBAY,PG,HAL,RF,BMY,AAL,MU
4,VZ,SBUX,MDLZ,WMB,JPM,BSX,CPRT,MSFT
5,NFLX,NKE,MO,COP,KEY,ABT,LUV,INTC
6,DIS,M,MNST,SLB,MS,CVS,FAST,CSCO
7,IPG,MGM,COTY,DVN,HBAN,ABBV,CAT,HPE
8,EA,TJX,WBA,CVX,SCHW,JNJ,JCI,ORCL
9,DISH,TGT,PM,MPC,SYF,MDT,UAL,AMAT

In [5]:
ticker_to_idx = {
    ticker: (r, c)
    for r, row in enumerate(stocks_by_sector_df.values)
    for c, ticker in enumerate(row)
}

## Get Samples and Labels

In [6]:
samples = pd.read_csv(
    "../data/samples_sector.csv",
    index_col=0,
    header=[0, 1, 2],
    parse_dates=True
)
samples.head()

Sector     Communication Services                                             \
Asset                     asset_1
Metrics                     Close        RSI  k_percent  r_percent      MACD
Date
2016-01-22              26.540785  66.984964  97.740045  -2.259955  0.069637
2016-01-25              26.435045  63.461389  78.712858 -21.287142  0.093537
2016-01-26              26.737160  68.861320  92.129624  -7.870376  0.128820
2016-01-27              26.797583  69.888271  86.610891 -13.389109  0.157869
2016-01-28              26.835346  70.587786  88.702900 -11.297100  0.180559

Sector                                                                  \
Asset                                                          asset_2
Metrics    MACD_EMA9 Price Rate Of Change On Balance Volume      Close
Date
2016-01-22  0.016062             0.047704          14024206  37.272999
2016-01-25  0.032122             0.030928         -26045860  36.681000
2016-01-26  0.052022             0.044248          29134620  36.689499
2016-01-27  0.073679             0.051571          95682832  35.879002
2016-01-28  0.095447             0.035860         130350978  37.415001

Sector                 ... Information Technology                    \
Asset                  ...                asset_9
Metrics           RSI  ...   Price Rate Of Change On Balance Volume
Date                   ...
2016-01-22  58.189602  ...               0.004329         -16351600
2016-01-25  49.067155  ...              -0.017172         -33145200
2016-01-26  49.199084  ...              -0.003958         -13416300
2016-01-27  38.286812  ...               0.024354         -33983900
2016-01-28  58.442415  ...               0.015522         -18511100

Sector                                                                      \
Asset        asset_10
Metrics         Close        RSI  k_percent  r_percent      MACD MACD_EMA9
Date
2016-01-22  17.049999  51.119297  43.165445 -56.834555 -0.097708 -0.124555
2016-01-25  16.910000  47.801520  38.129494 -61.870506 -0.078060 -0.114917
2016-01-26  17.350000  57.746426  63.025232 -36.974768 -0.035484 -0.098570
2016-01-27  17.090000  51.107526  70.454523 -29.545477 -0.018663 -0.082221
2016-01-28  16.680000  42.266121  47.976887 -52.023113 -0.031403 -0.071871

Sector
Asset
Metrics    Price Rate Of Change On Balance Volume
Date
2016-01-22             0.015485         -82509700
2016-01-25             0.013789         -91721800
2016-01-26             0.035821         -75935100
2016-01-27             0.054938         -88525300
2016-01-28            -0.007733        -106022400

[5 rows x 640 columns]

In [7]:
labels = pd.read_csv(
    "../data/labels_sector.csv",
    index_col="Date",
    parse_dates=True,
)
labels.head()

,T,GOOGL,GOOG,CMCSA,VZ,NFLX,DIS,IPG,EA,DISH,...,AAPL,AMD,NVDA,MU,MSFT,INTC,CSCO,HPE,ORCL,AMAT
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-22,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
2016-01-25,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2016-01-26,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2016-01-27,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2016-01-28,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Training and Prediction (Base)

In [8]:
from grtel.classification import MultiClassifier
from grtel.utils import print_scores, print_1_percentage, confusion_matrix_metrics

from sklearn.model_selection import train_test_split

In [9]:
X = samples
y = np.array(labels)

test_size = 0.25
is_random_split = False

if is_random_split:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)
else:
    k = int(len(X) * (1. - test_size))
    X_train, X_test = X[:k], X[k:]
    y_train, y_test = y[:k], y[k:]

In [10]:
# Initialize the classifier
n_classes = y.shape[1]

multi_classifier = MultiClassifier(n_classes)
multi_classifier.fit(X_train, y_train)

0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 - 11 - 12 - 13 - 14 - 15 - 16 - 17 - 18 - 19 - 20 - 21 - 22 - 23 - 24 - 25 - 26 - 27 - 28 - 29 - 30 - 31 - 32 - 33 - 34 - 35 - 36 - 37 - 38 - 39 - 40 - 41 - 42 - 43 - 44 - 45 - 46 - 47 - 48 - 49 - 50 - 51 - 52 - 53 - 54 - 55 - 56 - 57 - 58 - 59 - 60 - 61 - 62 - 63 - 64 - 65 - 66 - 67 - 68 - 69 - 70 - 71 - 72 - 73 - 74 - 75 - 76 - 77 - 78 - 79 -

## Performance

In [11]:
stocks_to_analyze = ["KO", "TGT", "PFE", "MSFT", "CVX", "DVN", "DAL", "JPM", "AAPL"]

In [12]:
num_sectors = stocks_by_sector_df.shape[1]
num_assets = stocks_by_sector_df.shape[0]

# train accuracy
train_score = multi_classifier.score(X_train, y_train)
train_accuracy_df = pd.DataFrame(
    np.array(train_score).reshape(num_sectors, num_assets)
).T
train_accuracy_df.columns = stocks_by_sector_df.columns

# test accuracy
test_score = multi_classifier.score(X_test, y_test)
test_accuracy_df = pd.DataFrame(
    np.array(test_score).reshape(num_sectors, num_assets)
).T
test_accuracy_df.columns = stocks_by_sector_df.columns

# confusion matrices
conf_matrices = multi_classifier.confusion_matrices(X_test, y_test)
conf_matrices = np.array(conf_matrices).reshape(num_sectors, num_assets, 2, 2)

# Performace metrics
performance_df = pd.DataFrame(columns=stocks_to_analyze, index=['train acc', 'test acc', 'precision', 'recall', 'downturn_precision', 'specificity'], dtype=float)
for ticker in stocks_to_analyze:
    idx = ticker_to_idx[ticker]
    performance_df[ticker]['train acc'] = train_accuracy_df.iloc[idx]
    performance_df[ticker]['test acc'] = test_accuracy_df.iloc[idx]

    conf_matrix = conf_matrices[idx[1], idx[0]]
    accuracy, precision, recall, specificity, downturn_precision = confusion_matrix_metrics(conf_matrix)

    performance_df[ticker]['precision'] = precision
    performance_df[ticker]['recall'] = recall
    performance_df[ticker]['downturn_precision'] = downturn_precision
    performance_df[ticker]['specificity'] = specificity

performance_df

,KO,TGT,PFE,MSFT,CVX,DVN,DAL,JPM,AAPL
train acc,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
test acc,0.453552,0.491803,0.453552,0.393443,0.590164,0.398907,0.551913,0.497268,0.546448
precision,0.583333,0.513333,0.594828,0.500000,0.570248,0.369565,0.631579,0.395062,0.739130
recall,0.198113,0.793814,0.565574,0.243243,0.750000,0.395349,0.560748,0.426667,0.180851
downturn_precision,0.421769,0.393939,0.208955,0.348837,0.629032,0.428571,0.465909,0.578431,0.518750
specificity,0.805195,0.151163,0.229508,0.625000,0.428571,0.402062,0.539474,0.546296,0.932584

In [13]:
#Scores
print("Classification accuracy (Train):")
score = multi_classifier.score(X_train, y_train)
print_scores(score)
print()

print("Classification accuracy (Test):")
score = multi_classifier.score(X_test, y_test)
print_scores(score)
print()

print("Percentage of 1s (Test):")
print_1_percentage(y_test, n_classes)
print()

Classification accuracy (Train):
[100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%, 100.00%]

Classification accuracy (Test):
[49.73%, 51.37%, 50.27%, 51.37%, 48.09%, 38.80%, 42.08%, 47.54%, 51.91%, 46.99%, 57.92%, 50.82%, 57.92%, 43.72%, 42.62%, 61.20%, 55.19%, 52.46%, 61.20%, 49.18%, 37.70%, 45.36%, 41.53%, 54.10%, 62.84%, 52.46%, 65.03%, 30.60%, 51.91%, 33.33%, 34.97%, 62.84%, 49.18%, 37.16%, 42.62%, 59.02%, 42.08%, 39.89%, 59.02%, 48.09%, 53.01%, 56.83%, 51.37%, 40.98%, 49.73%, 53.55%, 60.66%, 57.38%, 50.82%, 40.98%, 45.36%, 46.45%, 58.47%, 33.33%, 57.38%, 52.46%, 51.91%, 46.45%, 45.90%, 44.81%, 56.28%, 55.19%, 55.19%, 49.73%, 49.18%, 61.75%, 58.47%, 50.27%, 58.47%, 42.08%, 54.64%, 38.80%, 47.54%, 66.12%, 39.34%, 32.79%, 53.01%, 57.92%, 59.56%, 44.81%]

Percentage of 1s (Test):
[45.90%, 50.27%, 51.91%, 58.47%, 62.84%, 50.27%, 51.37%, 50.27%, 37.70%, 38.80%, 57.38%, 36.07%, 37.16%, 40.98%, 52.46%, 60.11%, 42.08%, 38.80%, 63.39%, 53.01%, 55.74%, 57.92%, 56.28%, 63.39%, 54.64%, 51.37%, 51.37%, 25.68%, 64.48%, 46.45%, 45.36%, 54.10%, 49.18%, 36.61%, 46.45%, 54.10%, 34.43%, 46.99%, 50.27%, 43.17%, 42.08%, 48.09%, 40.44%, 43.72%, 40.98%, 46.45%, 36.61%, 49.73%, 39.34%, 38.80%, 66.67%, 72.68%, 48.09%, 61.20%, 71.04%, 59.56%, 56.83%, 48.09%, 57.38%, 64.48%, 64.48%, 39.89%, 58.47%, 44.26%, 55.19%, 49.18%, 47.54%, 53.01%, 47.54%, 62.84%, 51.37%, 66.67%, 45.90%, 36.07%, 60.66%, 53.01%, 57.92%, 46.99%, 54.64%, 36.61%]